.gpt3__feature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1 rem;
    width:100%
}
.gpt3__feature-title{
    flex:1;
    max-width:160px;
    margin-right: 2rem ;    
}
.gpt3__feature-title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.7rem;
}
.gpt3__feature-title h1{
    font-family: var(--font-family);
    line-height:28px;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    letter-spacing: -0.04em;
}
.gpt3__feature-text {
    flex: 2;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.gpt3__feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}